html {
  background-color: rgb(244, 244, 244);
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}